@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "texgyreheros-regular";
  src: url("../src/fonts/qhv2/texgyreheroscn-regular.otf") format("opentype");
}

@font-face {
  font-family: "mono-lite-regular";
  src: url("../src/fonts/qhv2/Q-04LITE-Regular.ttf") format("opentype");
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}
#title {
  font-size: calc(16vw + 16vh + 8vmin);
  line-height: calc(16vw + 16vh + 8vmin);
}
no-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.camera-border {
  --b: 0.1em; /* thickness of the border */
  --c: white; /* color of the border */
  --w: 2.5em; /* width of border */

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background: conic-gradient(
        from 90deg at top var(--b) left var(--b),
        var(--_g)
      )
      0 0 / var(--_p),
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 /
      var(--_p),
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% /
      var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
      100% 100% / var(--_p);
}

.custom-cursor {
  cursor: url("../src/assets/camera-cursor.svg"), auto;
}
